# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

*.png

*.npz

*.pt

*.pyc

training/engine_orig.py

configurations/configuration-LAPTOP-NE62V7DS.json

configurations/configurationArma.json

crossvalidation_result.npy

datasets/dataset-LAPTOP-NE62V7DS.py

Good Parameters SAGE.txt

main_before_rework.py

main_oldN2V.py
